{% extends "itreporting/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Assignment Features added</h1>
        <p>A description of all featues and things added within the project</p>
        
        <h3>Features added</h3>
        <ul>
            <li>Login difficulties</li>
            <li>Software installation problems</li>
            <li>Network connectivity issues</li>
            <li>Hardware malfunctions</li>
        </ul>
        
        <p>please feel free to contact me so i can explin featues in more detail</p>
    </div>
{% endblock %}